{% extends 'base.html' %}
{% load static seo_tags %}

{% block meta_title %}{{ product.meta_title|default:product.name }} | HOOVALE{% endblock %}
{% block meta_description %}{{ product.meta_description|default:product.short_description|truncatechars:155 }}{% endblock %}
{% block meta_keywords %}{{ product.meta_keywords|default:"wall clock, " }}{{ product.name|lower }}, {{ product.category.name|lower }}, wall clock manufacturer{% endblock %}

{% block og_type %}product{% endblock %}
{% block og_title %}{{ product.og_title|default:product.name }}{% endblock %}
{% block og_description %}{{ product.og_description|default:product.meta_description }}{% endblock %}
{% block og_image %}https://hoovale.com{% if product.og_image %}{{ product.og_image.url }}{% elif product.image %}{{ product.image.url }}{% else %}{% static 'images/product-placeholder.svg' %}{% endif %}{% endblock %}

{% block page_schema %}
    {% product_schema product %}
    {% breadcrumb_schema breadcrumb_items %}